.left {
	float: left;
	margin-left: 20px;
}
.right {
	float: right;
}
.describe {
	width: 100%;
	height: 36px;
	line-height: 36px;
	margin-left: 36%;
}
.detail {
	text-align: center;
}
.canva {
	float: left;
}
.vide {
	width: 500px;
	height: 90px;
	margin: 0 150px 36px 50px;
}
